   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
   
  color: black;
}

 

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 12px lightgray;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 22px;
  font-weight: bold;
  color: purple;
}

.logo-icon {
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: purple;
  color: white;
  border-radius: 8px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: dimgray;
  font-weight: 500;
}

.nav-links a:hover {
  color: purple;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-in {
  border: none;
  background-color: transparent;
  color: dimgray;
  cursor: pointer;}

.sign-up {
  border: none;
  background-color: deeppink;
  color: white;

  padding: 10px 22px;
  border-radius: 25px;

  cursor: pointer;
}

.menu-button {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

 

.hero {
  background-color: white;
  padding: 90px 0;
}

.hero-content {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.hero-text h1 {
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-text h1 span {
  display: block;
  color: deeppink;
}

.hero-text p {
  max-width: 550px;
  color: dimgray;
  font-size: 17px;
  line-height: 1.7;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.primary-button {
  text-decoration: none;
  background-color: deeppink;
  color: white;

  padding: 13px 22px;
  border-radius: 8px;
}

.secondary-button {
  text-decoration: none;
  color: black;
  padding: 13px 22px;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.stack-illustration {
  width: 280px;
  height: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 70px;

  transform: rotate(-5deg);
}
.stack-card {
  width: 220px;
  height: 70px;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 12px;
  box-shadow: 0 8px 20px lightgray;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px;
}

.stack-card.card-top {
  transform: translateX(20px);
}

.stack-card.card-middle {
  transform: translateX(-10px);
}

.stack-card.card-bottom {
  transform: translateX(15px);
}

.chip {
  font-size: 35px;
  font-weight: bold;
}

.small-dot {
  width: 12px;
  height: 12px;
  background-color: deeppink;
  border-radius: 50%;
}

.small-chip {
  width: 35px;
  height: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

.board-line {
  width: 45px;
  height: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
 

.technologies-section {
  width: 90%;
  max-width: 1200px;

  margin: auto;
  padding: 80px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading h2 {
  font-size: 36px;
  margin-bottom: 12px;
}

.section-heading h2 span {
  color: deeppink;
}

.section-heading p {
  color: dimgray;
}

.content-layout {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 25px;
  align-items: start;
}

.technology-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.technology-card {
  background-color: white;
  padding: 22px;

  border-radius: 14px;

  box-shadow: 0 5px 20px lightgray;

  transition: transform 0.3s ease,
   box-shadow 0.3s ease;
}

.technology-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px silver;
}

.technology-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.technology-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.badge {
  background-color: lavender;
  color: purple;

  padding: 5px 10px;
  border-radius: 20px;

  font-size: 12px;
  font-weight: bold;
}

.technology-card h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

.technology-card p {
  color: dimgray;
  line-height: 1.5;
  min-height: 70px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 15px 0;
}

.category,
.difficulty {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
}

.category {
  background-color: lavender;
  color: purple;
}

.difficulty {
  background-color: beige;
  color: darkorange;
}

.rating {
  margin-bottom: 15px;
  font-weight: bold;
}

.add-button {
  width: 100%;

  padding: 11px;

  border: none;
  border-radius: 7px;

  background-color: black;
  color: white;

  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: purple;
}

.add-button.added {
  background-color: seagreen;
  cursor: not-allowed;
}

 

.stack-section {
  background-color: white;
  border-radius: 14px;
  padding: 22px;

  box-shadow: 0 5px 20px lightgray;

  position: sticky;
  top: 90px;
}

.stack-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  margin-bottom: 25px;
}

.stack-header h2 {
  font-size: 23px;
}

.stack-header p {
  color: gray;
  font-size: 13px;
  margin-top: 5px;
}

.remove-all {
  border: none;
  background-color: mistyrose;
  color: crimson;

  padding: 7px 10px;
  border-radius: 5px;

  cursor: pointer;
}

.empty-stack {
  text-align: center;
  padding: 40px 10px;
}

.empty-icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.empty-stack h3 {
  margin-bottom: 8px;
}

.empty-stack p {
  color: gray;
  line-height: 1.5;
  font-size: 14px;
}

.stack-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stack-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;

  border: 1px solid lightgray;
  border-radius: 8px;
}

.stack-item img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.stack-item div {
  flex: 1;
}

.stack-item h4 {
  font-size: 14px;
}

.stack-item span {
  color: gray;
  font-size: 11px;
}

.remove-btn {
  border: none;
  background-color: transparent;
  color: crimson;

  font-size: 22px;
  cursor: pointer;
}

 


.loading-continer {
  min-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.spinner {
  width: 45px;
  height: 45px;

  border: 5px solid lightgray;
  border-top-color: purple;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

 

.footer {
  background-color:  white;
  color: black;
  padding-top: 60px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 40px;
}

.footer-brand h2 {
  color: deeppink;
  margin-bottom: 12px;
}

.footer-brand p {
  color:   rgb(34, 33, 33);
  max-width: 300px;
  line-height: 1.5;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-links a 
.footer-column a { 
  
  color:rgb(34, 33, 33);
  text-decoration: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column h3 {
  margin-bottom: 8px;
}

.footer-column a:hover,
.social-links a:hover {
  color: deeppink;
}

.copyright {
  text-align: center;
  border-top: 1px solid dimgray;
  padding: 20px;
  color: lightgray;
}
 
@media (max-width: 1000px) {

  .technology-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-layout {
    grid-template-columns: 1fr;
  }

  .stack-section {
    position: static;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) { 

  /*.footer {
    padding: 50px 15px 20px;
  }

  .footer-logo h2 {
    font-size: 23px;
  }

  .footer-logo .logo-icon {
    width: 35px;
    height: 35px;
    font-size: 17px;
  }

  .footer-description {
    font-size: 14px;
    max-width: 90%;
  }

  .footer-social {
    gap: 18px;
    margin-bottom: 35px;
  }

  .footer-social a {
    font-size: 14px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-policy {
    gap: 20px;
  }
   
  .nav-links {
    display: none;

    position: absolute;
    top: 70px;
    left: 0;

    width: 100%;

    background-color: white;

    flex-direction: column;
    align-items: center;

    padding: 25px;
  }*/

  .nav-links.active {
    display: flex;
  }

  /*.nav-buttons {
    display: none;
  }

  .menu-button {
    display: block;
  }*/

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text p {
    margin: auto;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .technology-grid {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {

  .hero {
    padding: 60px 0;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .section-heading h2 {
    font-size: 28px;
  }

  .technologies-section {
    padding: 50px 0;
  }
}